.tools_elem {
    display: block;
    border: blue 1px solid;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 auto 10px;
    background-color: lightgray;
}
.tools_elem:hover {
    border: blue 4px solid;
}
.tools_elem input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border: blue 1px solid;
}
.tools_elem button {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    box-shadow: 5px 5px lightslategray;
    transition-duration: 0.5s;
}
button:hover {
    box-shadow: 2px 2px lightslategray;
 }
.tools_elem span {
    display: flex;
    justify-content: space-between;

}
.tools_elem span input.sm {
    width: 50px;
}
.tools_elem span button {
    width: auto;
}
.tools_elem span label {
    width: 100%;
}

