html, body {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1270px;
    margin: 0 auto;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-around;  
}

.col {
    background-color: #f3f3f3;
    cursor: pointer;
}

.col canvas {
    background-color: cornsilk;
    max-width: 600px;
    min-width: 320px;
    max-height: 900px;
    min-height: 480px;
    border-radius: 15px;
    border: darkblue 5px solid ;
}
.pt2 {
    padding-top: 2rem;
}