html, body {
    margin: 0;
    padding: 0;
}
html {
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTExIVFhUWFxcXFxcVFRcXFxcXFxUXFxUXFxcYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALcBEwMBIgACEQEDEQH/xAAbAAADAQEBAQEAAAAAAAAAAAABAgMABAUGB//EAC8QAAICAgEDAgQFBAMAAAAAAAABAhEDITESQVFhgQRxkfATIrHB0UKh4fEUMlL/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A/VwKYrlsEALwbCmJdBTAokbpEU+7Asl8AUmL0hUTRADQrHyImkBaCVC9QULWwH6vAIsWwxQBsVMDCBn6GUjRYGgBZSLJxRRANYk5AbMoAaCKJGBYBYshxZsACKWxkKkA6khbEbMmBRBkJKQqdgViwy517km+y5Hhp0BVNIwaMB58cfrYXBCxspGQGhfcbfAGvAFNrle4DS+X1NjA3Y6QFBkS6gyYGlIWxKGiAyCGhJMAoYEWFsCUou77DsYAAXoBsYSTAMAzlQbIpdW2A0PJYlI0b7gUs1gRpIAyBYtDKIC5slLXIXwQyyScU+9/2KykArNQVEKAFh6g0Tmr0gG+HXLa5ZSvzBigzYFUYSMjAcKvwBe/uNFgtgViGrESHgwA8fgKuguRkBk+7FcyuhUgFkLGRssbE6fUC0sgYkOkpiYFWMCwTAZsUk5FUArAh2TvYGmhomo0QC0KMzJAFM3UBsyANmo1CSyUAk+b8DRXcEYXyWjEBUaQ9CuIEusMA5IAjXcB3IZOyTRWABRhkjAeegidY0Z6YFA/iCwViwkr9QLTkFeSfLK8gM36BSNYOq1wAjBGIzkjSAVvegdI8kBAN1ATN0hUQM8djKG78ATCpgGaEjDdjNBTA1EHLZe7JqIDILEqmBPewHqwglMnKbel9QBknbpe48cegQjXA2SdARjLpZf8Re5P1EnBt3oDojOw2KgtgY3SGPAUAKCBsSU62BXqMc/X6mA5VA3YpP0ITQFITBbt1YIMripbAeEaHsTqBFtsCyGQBMjoAUZsWwgO2aIkU7L44gByNBWGgUAEwS9OTZpdP7AxKgG/Bvn+/wDBRYwKQ1gRl+V96HT0LdsLx+oG6Q9Fi016mjl7Ln1Ank5pe4YxrgosdDATRskO46MmBOMhoiRgk9d+SlUA6RsiETC5AaJh0tbJ1fHABnNCPYXRuoCTxfezBbb4MBzW+P3EY05PuLq/2AaMdFYGUdAx8gNNi42GYK0BdPRKbbGi9DpgK2JCW6DI0PIFupIojllFN/5OiHAGcgKVWxW62CDsAOMuef1Q+OQ9GpPkAI1hUewii+7YDRC36k5c1XuO6raAMpCJXt6NCD5YekBHGXZ6G633RVmTARSBFgnHuLil/wCgKwQMj4G6/GyMlK7uvkA0kl3DF+EPBJIGOV/wBn6jJ6DFAoCVck63vZ10LKOwFjEwbMB5kpFK4Ehj4pjp1yAcjFjIzmKmBWLGyghE0nsB4IDlsGNUaYC5HZosZbFquAKqOyzZCMgZJ3rt3AMn1P0/UohOEZICjYUKkPFAOhG9oaxJbQC5JUGEL5+gISuXyKxkAz0JQ0mLYDGYGaNIBemxpKwtmiAk+9BrRpjRiAs9XfIMb0NmWhcTAeLGQkQ0AzmFi3YFIDWjGUAAebF9wTkT2hVO9gVQzIQky0QLQetEssNoe2bkCmKJkq7mTDoDXsnNjONdyL2+QGjLaS/0dEVWiXw8UizewFe2NQZWNG6AKGoWwKQDTZDLkCnf5nwhoru1z/ZATwvVI6IQ1yCkuDTx65AWVgjLx9RMi9x8AFYlKErYZMAOQ0RccQTkBpbY6ehIsLYGbtCtU99zSZpS1YC07LWSlsdeABMMNBa+2N22BvxDC9P3RgPCeXsFxrgV4vA7fZr3XAGxO2daZxRVbQ7yvyB2rYJvsiGKbH6u9ACc6GgznhK2213DPOr6V838gOh+RErdVoR5G6SKx37ANjX3+p0wWiDhoeE6AqzNk5ZBVOgKdRPNLsn8wSy6JdMpc6X6/wCALQnfyGllb4EljDGOwGLXaA46Ei6ACd6aHwwpAY+NAUTFM5GoB1ESUTOYmwGAY1gCeOxoRpUHqM2AsPAWvtCTXcOOdv5AVjFcg6h+knXgCtMwimYDwlkT0U6tHKonVBaA5rrj6fwPCvci5bOlxtc0A1MtFao5Y9S53+oZ/G8pJ399wJ/F5+lUv+z4X7v0G+Ex0r5b5fl/wLiwf1PmXL/b5HXihoDQ0zoiTrQ8ZAN1CZVdhsE0AkPUdoWDNKdb79gG6b190Wcdkoulf1HUvABy5a9SmJ/U4+jZ04QKSlYk0aUdklEDofAcRKNjwQFGgWZugLJ3egDJIEWCY0pAZugQmnwK1Y0YpcAPQkmPYkpbApBCTjW1/sZPv2DHJoBZZ7qh4ojHG7tfQu8iXo/UDNGMmYD55taKw72c01bGTa738wMkursdElqjlxLjRdZUuz+gGhOnsnjydT6v6e3l+vyF+IbmqXHcoo00vQB441/S6LfnXKT445FUaKPJ4ACyr5ejKRfOyKXnZTFCK7AV6TUaKEnKkAHkS2Crdv2J4Y3t+3ogyfYAyyv27FsD1Zz9N8o6MfAGTDDILk0JF0B1Jg6lyS6rDJaAfqKQIQY8WBSU/AOkVzXkZSsDTYzIfEZ1HlixzWB2JgEhIZAMiD5LOWjnU0ntr6gWjJhlfbgh+Or5VFoZV5Arjl3EyZF8zOarQVQE1N/bMWWEwHzE20x8UfLMYC2NpkPiJb396v8AYxgOjAlXoGUUzGAour5/qbrvS5MYBpSrgfFKzGAaUtP6/f0OeS6ml8rMYC9OjQgEwGLpaMYCLfIIvsYwGcaGjC7MYArGvH3QzwJ9jGAVYldFI4V4CYCfxGFAWjGAomPGCMYDOJKGJN3SMYDp/CRGXwibtOq8GMAksT7P6gm5RRjAH/nmMYD/2Q==)
}

.content {
    max-width: 1270px;
    max-height: 100vh;
    margin: 0 auto;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-around;  
}

.col {
    cursor: pointer;
}

.col canvas {
    background-color: cornsilk;
    max-width: 600px;
    min-width: 320px;
    max-height: 900px;
    min-height: 480px;
    border-radius: 15px;
    border: darkblue 5px solid ;
}

.pt2 {
    margin-top: 10px;
}